.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}

.cube {
    width: 200px;
    height: 200px;
    border: solid black 1px;
    margin-left: 20px;
    border-radius: 20px;
    transition: 2s;

}
.cube:hover{
    border-radius: 5px;
    filter: grayscale(0%);
}

 .keanu{

    background-image: url("keanu-mirror.jpg");
    background-size: cover;
  
}
.keanu:hover{
    transform:scale(200%);
    background-image: url("keanu-government.png");


}


.middle{
    filter: grayscale(100%);
    background-image: url("2.jpg");
    background-size: cover;
}
.middle:hover{

    transform : translatey(-200px) rotatez(180deg);
}


.leo{
    background-image: url("leo.jpg");
    filter: grayscale(100%);
    background-size:cover;
    border-radius: 100px;
}


.feu{
    background-image: url("feu.png");
    background-size:contain;
    background-repeat: no-repeat;
    height: 150px;
    width : 100px;

}
.voiture{
    background-image: url("voiture.png");
    background-size:contain;
    background-repeat: no-repeat;
    height: 150px;
    width : 1200px;
    transition: transform 5s ;

}
.voiture:hover{
    transform: translateX(900px);
}

.container2{
    display:flex;
    flex-wrap:wrap; 
}